html {
    font-size: 16px;
}

body {
    background-color: rgb(213, 244, 248);
}

h1:hover {
    color: red;
}

p {
    column-count: 3;
    column-gap: 40px;
    column-rule: 2px solid red;
}

p::selection {
    background-color: red;
    color: white;
}
